@{
    ViewData["Title"] = "Neuroscience";
}

<h1>Neuroscience</h1>
<img src="~/img/Nerv.jpg" alt="Neuroscience Image" class="img-fluid rounded mb-3">
<p>
    Neuroscience is the scientific study of the nervous system, encompassing both its structure and function.
    It explores the complex mechanisms of brain activity, from molecular interactions to higher cognitive processes.
</p>
<p>
    Advances in neuroscience have provided profound insights into brain plasticity, memory formation, and neural pathways.
    Research methodologies such as functional MRI and electrophysiological recordings have enhanced our understanding
    of how the brain processes information.
</p>
